    body{
        margin: 0;
        padding:0;
        font-family: 'Taviraj', serif;   
    }
    .content-title4 h2 > span{
    color:#505050;
    }
    .section4{
        padding: 0% 10.5%;
        display: flex;
        flex-direction: column;
        background-color: #f3f3f3;
        height: 100vh;
    }
    .menu-bloco4 {
        display: flex;
        padding: 0% 0% 1% 0%;
    }
    .item{
        width: 50%;   
    }
    .menu-principal-bloco4{
        display: flex;
        align-items: center;   
        gap: 4vh;
    }
    .view-more{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .itens-menu-bloco4{
        font-size: 2.8vh;
        border:none;
        background: none;
        cursor: pointer;     
    }
    .painel{
        display:flex;
        justify-content: space-between;
    }
    .painel-pt1{
        display: flex;
        flex-direction: column;
        gap: 3.5vh;
    }
    .itens-painel{
        border: 2px solid black;
        width: 32vh;
        height: 32vh;
        display: flex;
        overflow: hidden;
        justify-content: center;
        transition-property: filter;
        transition-duration: 1s;
        transition-delay: 0.1s;
        filter:grayscale(0%);
    }
    .itens-painel:hover{
        filter:grayscale(73%);
        transition: 1s;
    }
    .content-title4{
        text-align: center;
        font-size: 4vh;
    }